<h1> New Recipe </h1>
<%= form_for(@recipe) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <br />
  <%= f.label(:utensils) %>
  <%= text_area_tag("recipe[utensils]") %>
  <br />
  <%= f.label(:ingredients) %>
  <%= text_area_tag("recipe[ingredients]") %>
  <br />
  <%= f.label(:steps) %>
  <%= text_area_tag("recipe[steps]") %>
  <br />
  <%= f.submit %>
<% end %>
